html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f0f8ff;
  color: #5b5941;
}

header {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 5em;
  padding-left: 0.1em;
}

span {
  padding: 0px 5px;
  background-color: #e4fac2;
}

.square-dropdown {
  list-style: inside square;
}

nav {
  /* height: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 4em;
  cursor: default;
}

#add-symbol {
  display: flex;
  color: #e4fac2;
  background-color: #5b5941;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 72px;
  width: 72px;
  border-radius: 50%;
}

ul {
  font-size: 0.7em;
}

li {
  padding: 2px;
}

li:hover,
li:active {
  background-color: #f79d84;
}

.toggle-dropdown {
  display: none;
  position: fixed;
  padding-top: 0.2em;
}

.nav-dropdown:active .toggle-dropdown,
.nav-dropdown:hover .toggle-dropdown {
  display: block;
}

.nav-dropdown:active .nav-title,
.nav-dropdown:hover .nav-title {
  opacity: 0.5;
}
